@import "fonts.css";
@import "keen-slider.css";

@tailwind base;
@layer base {
  html {
    @apply font-jost;
  }

  body {
    @apply bg-black text-white font-jost;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-molot
  }

  .container {
    @apply w-full max-w-[1190px] xl:max-w-[1360px] px-4 md:px-6 lg:px-10 mx-auto;
  }

  input, textarea {
    @apply w-full py-3 px-4 text-black rounded-lg bg-white/80 placeholder:text-black/40 border border-white/80 outline-none focus:outline-0 focus-visible:ring-2 focus-visible:ring-primary
  }
}

@tailwind components;
@layer components {
  .icon {
    @apply w-4 h-4
  }

  .h1 {
    @apply text-[min(calc(10px+3.5vw+3.5vh),54px)] leading-none md:text-8xl lg:text-[115px] lg:leading-[135px]
  }

  .h2 {
    @apply text-[min(calc(15px+1.5vw+1.5vh),34px)] leading-none sm:text-6xl lg:text-[80px] leading-[1.1]
  }

  .typo-text {
    @apply text-base leading-[24px]
  }

  .typo-text-lg {
    @apply text-[22px] leading-9
  }

  .guns-section__heading {
    @apply relative flex justify-start
  }

  .guns-section__heading span {
    @apply relative pr-3 md:pr-8 before:absolute before:right-0 before:top-[42%] before:-z-1 before:h-[78%] before:bg-primary before:w-[10000px]
  }

  .guns-section__heading--revert {
    @apply justify-end
  }

  .guns-section__heading--revert span {
    @apply pr-0 pl-3 md:pl-8 before:left-0 before:right-auto
  }

  .guns-section__content {
    @apply px-5 md:px-25 mt-9 md:mt-20 flex items-end space-x-7 md:space-x-30
  }

  .guns-section__list {
    @apply space-y-2 md:space-y-5
  }

  .guns-section__list li {
    @apply md:py-0.5 md:px-1.5 md:bg-white rounded md:text-black w-fit md:text-2xl
  }

  /*.zoom-out {*/
  /*  @apply h-[min(500px,50vw)];*/
  /*  perspective: 100px;*/
  /*}*/
  /*.zoom-out__slide div {*/
  /*  @apply overflow-hidden absolute w-full h-full will-change-transform;*/
  /*}*/
  .groups-table {
    @apply flex md:table relative
  }

  .groups-table thead th {
    @apply relative mmd:hidden before:absolute before:inset-0 before:-z-1 before:h-full before:bg-white/20 before:backdrop-blur
  }

  .groups-table tbody td {
    @apply text-base leading-6
  }

  .groups-table tbody td {
    @apply py-3 px-4 md:text-center md:border border-white
  }

  .groups-table thead th {
    @apply py-2.5 px-4 text-[21px] leading-6 font-medium md:text-center border border-white
  }

  .field {
    @apply flex rounded-lg bg-black
  }

  .btn-red {
    @apply inline-block w-full py-3 px-4 rounded-lg border border-primary bg-primary hover:bg-red-700 hover:border-red-700 transition-colors font-semibold
  }

  .main-logo {
    @apply relative flex items-center grow w-full h-fit
  }

  .main-logo__desktop {
    @apply hidden lg:block w-full h-full lg:max-h-[90px] xl:max-h-[130px]
  }

  .main-logo__mobile {
    @apply block lg:hidden w-full h-full max-w-[400px];
  }

  @supports (aspect-ratio: 1/1) {
    .main-logo__mobile {
      @apply aspect-[328/104]
    }
  }

  @supports not (aspect-ratio: 1/1) {
    .main-logo {
      @apply before:w-full before:block before:pt-[33%] max-w-[330px]
    }

    .main-logo__mobile {
      @apply absolute inset-y-0
    }
  }

  .hero-image {
    @apply relative w-full h-full
  }

  .hero-image__picture {
    @apply absolute inset-0 -z-1 block w-full object-contain transform-gpu opacity-80;
  }

  @screen sm {
    .hero-image__picture {
      transform: rotate(-45deg) scaleX(1.25) scaleY(1.25)
    }
  }

  @screen mmd {
    .groups-table tbody {
      @apply block space-y-7
    }

    .groups-table tbody tr {
      @apply flex flex-wrap items-start
    }

    .groups-table tbody tr td {
      @apply text-sm basis-[calc(100%-130px)] first:basis-full first:mb-2.5 first:text-center first:text-2xl first:bg-white/25 first:rounded last:basis-[130px]
    }
  }

  @screen msm {
    .hero-image__picture {
      transform: rotate(-74deg) scaleX(2) scaleY(2) translateX(1rem);
    }
  }

  @screen lg {
    .hero-image__picture {
      transform: none;
      opacity: 100;
    }
  }
}

@tailwind utilities;


@supports (height: max(100%,40vh)) {
  .hero-image__picture {
    height: max(100%, 40vh);
  }
}

@supports not (height: max(100%,40vh)) {
  .hero-image__picture {
    height: 40vh;
  }
}
